/* CSS Document */
body{
margin: 0;
padding: 0;
width: 100%;
background-color:#FCF4DF;
}

.logo {
display: block;
width: 250px;
padding: 35px 0;

  }

header {
	width: 100%;
	background-color: #8C2201;
	height: 120px;
	float: right;
}

.header-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a {
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color:#FCF4DF;
	padding: 10px;
	font-family: 'source-sans-pro', sans-serif;
	
}


nav ul {
display: flex;
list-style: none;



	
}

.carousel{
	padding-top: 120px;
	width:100%;
}
.carousel-cell {
  width: 100%;
	height: 450px;
}

@media (max-width: 600px) {
  .carousel-cell {
  width: 50%;
}
}


.herotext{
	position: absolute;
	letter-spacing: 0.5px;
	line-height: 1.4em;
  color:#FCF4DF;
  background: #521401;
	width: 780px;
	margin-left: 80px;
	padding: 55px 80px;
	margin-top: -200px;
	text-align: center;
	

	
	

  
}

.intro{
	background-color: #FCF4DF;
	width: 100%;
	padding: 50px 0;
}
.introtitle {
	text-transform: uppercase;
	color: #8C2201;
}

.intro1, .intro2 {
	color: #521401;
}


.bookonetitle, .booktwotitle, .bookthreetitle {
	text-align: center;
	text-transform: uppercase;
	color: #8C2201;
}

.bookonetitle{
	padding-top: 10px;
}
.bookone, .booktwo, .bookthree {
	padding-top: 10px;
}

.bookone {
animation: fadeup 2s;
}
.booktwo{
animation: fadeup 2s;	
}

.bookthree{
animation: fadeup 2s;
}

@keyframes fadeup {
	from {opacity: 0;
	}
	to{
		opacity: 1;
	}

}


.physicalbackground{
	padding: 80px 0;
	background-image: url("../images/bookformats.png");
	background-size: cover;
}

.physicalformats {
	padding: 50px 0;

	
}

.square {
	background-color: #FCF4DF;
	height: 700px;
	padding: 30px 10px;
}



.physicaltitle, .digitaltitle{
	color: #8C2201;
	text-align: center;
	text-transform: uppercase;
}

.physicalsub {
	color: #8C2201;
	text-transform: uppercase;
	text-align: center;
}
.paperback, .hardcover {
	color: #521401;
	padding-left: 15px;
}







.digitalformats{
	padding: 100px 0;
	color: #FCF4DF;
}

.digitaltitle{
	color: #FCF4DF;
	padding-top: 20px;
}

.ebooksimage {
	width: 380px;
	float: left;
	padding-top: 26px;
	
}

.ebooktitle{
	margin-top: 0;
}
.ebooks, .ebooktitle {
	float: right;
	width: 540px; 
	padding-right: 20px;
}

.ebookbox {
	background: #8C2201;
	height: 530px;
	margin: 20px 0;
}

.ebookbox:hover{
	background-color: #521401;
}





.audiobooksbox{
	background: #8C2201;
	height: 390px;	
}

.audiobooksbox:hover{
	background-color: #521401;
}

.audiobooks, .audiobooktitle {
padding-left: 20px;

	
}
.ebooktitle, .audiobooktitle {
	text-align: left;
	text-transform: uppercase;
	color: #FCF4DF;
}

.audioimage {
	width: 460px;
	margin-left: 20px;
	
	

	
}

.quote {
	background: url("../images/oldpage.png");
	padding: 20px 0;
	text-transform: uppercase;
	color: #8C2201;
	text-align: center;
	line-height: 2.3em;
}

.quote:hover{
	color: #521401;
}


footer {
	background-color: #8C2201;
	padding: 25px 0 25px 0;
}

.footerlogo {
	padding-top: 30px;
	width: 200px;
	float: left;
	
}

.aboutus{
	color: #FCF4DF;
	margin-bottom: 0;
	text-transform: uppercase;
	text-align: left;
	padding-left: 240px;
	
	
}

.aboutus-text {
	color: #FCF4DF;
	font-size: 0.8em;
	padding-left: 240px;
	width: 870px;
	
}

.footerline {
	margin-left: 240px;
}
	
footer a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'source-sans-pro', sans-serif;
	color: #FCF4DF;
	padding-right: 20px;
	font-size: 0.8em;
}

footer ul{
	list-style: none;
	display: flex;
	margin-left: 200px;
}







