/* CSS Document */
body{
margin: 0;
padding: 0;
width: 100%;
background-color:#FCF4DF;
}

.logo {
display: block;
width: 250px;
padding: 35px 0;

  }

header {
	position: absolute;
	display: block;
	background-color: #8C2201;
	width: 100%;
	height: 120px;
	float: right;
}

header a {
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color:#FCF4DF;
	padding: 0 20px;
	font-family: 'source-sans-pro', sans-serif;
	
}


nav ul {
display: flex;
position: absolute;
list-style: none;
padding-left: 300px;



	
}

.hero{
	width:100%;
	padding-bottom: 100px;
}
.heroimage {
  width: 100%;

 
}

.herotext{
	position: absolute;
  font-size: 1.1em;
  font-family: 'source-sans-pro', sans-serif;
  color:#FCF4DF;
  background: #521401;
	width: 780px;
	margin-left: 80px;
	padding: 55px;
	margin-top: -100px;
	text-align: center;
	

	
	

  
}

.intro{
	background-color: #FCF4DF;
	width: 100%;
	padding: 50px 0;
}
.introtitle {
	text-transform: uppercase;
	color: #8C2201;
}

.intro1, .intro2 {
	color: #521401;;
}


.bookone, .booktwo, .bookthree {
	text-align: right;
	padding-right: 20px;
	text-transform: uppercase;
	color: #8C2201;
}

.physicalbackground{
	padding: 80px 0;
	background-image: url("../images/bookformats.png");
	background-size: cover;
}

.physicalformats {
	padding: 50px 0;

	
}

.square {
	background-color: #FCF4DF;
	height: 850px;
	padding: 30px 10px;
}



.physicaltitle, .digitaltitle{
	color: #8C2201;
	text-align: center;
	text-transform: uppercase;
}

.physicalsub {
	color: #8C2201;
	text-transform: uppercase;
}
.paperback, .hardcover {
	color: #521401;
}







.digitalformats{
	padding: 100px 0;
	color: #521401;
}

.ebooksimage {
	width: 380px;
	float: left;
	padding-top: 25px;
}

.ebooks, .ebooktitle {
	float: right;
	width: 540px; 
}


.ebooktitle, .audiobooktitle {
	text-align: left;
	text-transform: uppercase;
	color: #8C2201;
}

.audioimage {
	padding-top: 18px;
}

.quote {
	background: url("../images/oldpage.png");
	padding: 20px 0;
	text-transform: uppercase;
	color: #8C2201;
	text-align: center;
	line-height: 2.3em;
}



